<h2>This is the {{this.title}} collections page</h2>

{{#if posts}}
  <ul>
    {{#each posts}}
      <li>
        Title: {{this.title}}
         <div id='form'>
            <form action="/delete-from-collection/{{this._id}}/{{../this.id}}" method='POST'>
              <label for="collections">Choose a collection:</label>
              
            <button type='submit'>Delete from collection</button>
            {{#if errorMessage}}
             <p class='error'>{{errorMessage}}</p>
             {{/if}}
            </form>
        </div>
        
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>This collection contains no posts!</p>
{{/if}}



<div>
     <form action="/delete-collection/{{this.id}}" method='POST'>
       
     <button type='submit'>Delete this collection?</button>
     {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
      {{/if}}
    </form>

</div>



