<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {{!-- <script 
    scr="https://maps.googleapis.com/maps/api/js?key=AIzaSyBewseqyTOFrXo5QzeUi1Zj9nsoEoMvHRw&callback=initMap&libraries=&v=weekly"
    defer
    ></script> --}}
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> --}}
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <div id="search-bar">
        <form action="/search" method='POST'>
      <img src="/images/magnifying-glass.png">
      <input type="text" title="Search" placeholder="Search Project 2">
      </form>
      </div>
      <ul>
       
        <li id="to-left">
          <p><a href="/posts"> IronTumblr </a></p>
        </li>
        <li id="to-right">
    
    {{#if user}}
          <div class="dropdown">
            <button class="dropbtn"><img src="{{user.profilePhotoUrl}}" class="userAvatar"></button>
            <div class="dropdown-content">
              <p>@{{user.username}}</p>
              <a href="/user/{{user._id}}">Profile</a>
              <a href="/post-create">Add a post</a>
              <a href="/collections/{{user._id}}">Collections</a>
              <a href="/account/{{user._id}}">Account Details</a>
              <form id="logout-form" action="/logout" method="POST">
              <button>Logout</button>
            </form>
            </div>
          </div>
    {{/if}}
        </li>
      </ul>
    </nav>

    {{{body}}}
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> --}}
    <script src="/javascript/script.js"></script>
    <script src="/javascript/googleMaps.js"></script>
    <script src="/javascript/follower.js"></script>
  </body>

</html>