<h1>this is the user's profile</h1>

<h2>{{user.username}}</h2>
<div>
{{#if authorized}}
<a href="/account">Account Information</a>
{{/if}}
</div>

{{#unless user.posts}}
  <p>No posts yet! Go to nav bar to create a post.</p>
{{/unless}}


{{#each user.posts}}
<div class="userPosts">
  <p><b>{{this.author.username}}</b></p> 
  <p><img src="{{this.imageUrl}}"></p>
  <p>{{this.content}}</p>
  <p>posted at: {{this.createdAt}}</p>
    {{#if this.tags}}
  <p>tags: {{this.tags}}</p>
  {{/if}}
  </div>
{{/each}}

<p>{{session.loggedInUser._id}}</p>
