<h1>this is the user's profile</h1>

<h2>{{user.username}}</h2>

{{#unless user.posts}}
  <p>No posts yet! Go to nav bar to create a post.</p>
{{/unless}}


{{#each user.posts}}
<div>
  <p><b>{{this.author.username}}</b> <img src="{{this.imageUrl}}">{{this.content}}</p>
  <p>posted at: {{this.createdAt}}</p>
    {{#if this.tags}}
  <p>tags: {{this.tags}}</p>
  {{/if}}
  </div>
{{/each}}
