<h2>{{ post.title }}</h2>

<div>
{{!-- {{#if post.author === Session username???}} IF THE POST AUTHOR IS EQUAL TO THE SESSION USER ID --- NEED TO INVESTIGATE--}}
{{#if authorized}}
<a href="/posts/edit/{{post._id}}">Edit</a>
<form action="/posts/delete/{{post._id}}" method='POST'><button>Delete</button></form>
{{/if}}
{{!-- {{/if}} --}}
</div>

<div>
  <img src="{{post.imageUrl}}" alt="{{post.title}}">
  <p>
    {{ post.content}} - by {{post.author.username}} 
    <br>
    tags: {{post.tags}}
  </p>

</div>

<hr>

{{#unless post.comments}}
  <p>No comments yet!</p>
{{/unless}}

{{#each post.comments}}
  <p><b>{{this.author.username}}</b>: {{this.content}} </p>
{{/each}}

<hr>

<h3> Add a comment </h3>

<form action="/posts/{{post._id}}/comment" method='POST'>
  <textarea name="content" cols="30" rows="10"></textarea>
  <button>Comment</button>
</form>