<main>
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        {{!-- <div class="row">
          <div class="col-xl-9 col-lg-9 col-md-12"> --}}
        <div class="main-cm-sec">
          <div class="posts-section">
            <div class="post-bar">
              <div class="post_topbar">
                <div class="usy-dt">
                  <img src={{post.author.profilePhotoUrl}} alt="user profile picture" class="userAvatar">
                  <div class="usy-name">
                    <h3><a href="/user/{{post.author._id}}">{{post.author.username}}</a></h3>
                    <span>When the post was posted</span>
                  </div>
                </div>
              </div>
              <div class="job_descp">
                <h3>{{post.title}}</h3>
                <img src={{post.imageUrl}} id="content">
              </div>
              <div class="job-status-bar btm-line">
                <ul class="like-com">
                  <li>
                    <a href="#">
                      <i class="far fa-thumbs-up"></i>
                      <span>Like</span>
                    </a>
                    <span>24</span>
                  </li>
                  <li>
                    <a href="#" class="com">
                      <i class="far fa-comments"></i>
                      <span>Comment</span>
                    </a>
                    <span>42</span>
                  </li>
               

                </ul>
              </div>

                     <!-- the following  is added by andrew to add posts to collections -->
                
                  <div id='form'>
                  <form action="/add-to-collection/{{post._id}}" method='POST'>
                    <label for="collections">Choose a collection:</label>
                    <select id="collections" name="collections">
                        
                        {{#if collectionsFromDb.collections}}
                          {{#each collectionsFromDb.collections}}
                              <option value={{this._id}}>{{this.title}}</option>
                          {{/each}}
                      {{else}}
                      <option value=''> Create a new collection</option>
                      {{/if}}
                      
                    </select>
                  <button type='submit'>Add to Collection</button>
                  {{#if errorMessage}}
                  <p class='error'>{{errorMessage}}</p>
                  {{/if}}
                  </form>
                  </div>
                
                <!-- this ends the element by andrew -->

              {{#each post.comments}}
              <div class="comment-area">
                <div class="post_topbar">
                  <div class="usy-dt">
                    <img src={{author.profilePhotoUrl}} alt="user profile picture" class="userAvatar">
                    <div class="usy-name">
                      <h3><a href="/user/{{author._id}}">{{author.username}}</a></h3>
                      <span>When the comment was posted</span>
                      <p>{{this.content}}</p>
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}



              <div class="postComment">
                <form action="/posts/{{post._id}}/comment" method='POST'>
                  <textarea name="content" placeholder="Add a Comment" cols="70" rows="1"></textarea>
                  <button class="comment-btn">Post</button>
                </form>
              </div>

              <h3>Location</h3>
              <div id="map"></div>

            </div>
          </div>
        </div>
      </div>
      {{!-- </div>
        </div> --}}
    </div>
  </div>
</main>







{{!-- <h2>{{ post.title }}</h2>

<div>
{{#if authorized}}
<a href="/posts/edit/{{post._id}}">Edit</a>
<form action="/posts/delete/{{post._id}}" method='POST'><button>Delete</button></form>
{{/if}}
</div>

<div>
  <img src="{{post.imageUrl}}" alt="{{post.title}}" id="content">
  <p>
    {{ post.content}} - by {{post.author.username}} 
    <br>
    tags: {{post.tags}}
  </p>

</div> --}}

{{!-- <hr>

{{#unless post.comments}}
  <p>No comments yet!</p>
{{/unless}}

{{#each post.comments}}
  <p><b>{{this.author.username}}</b>: {{this.content}} </p>
{{/each}}

<hr> --}}