<h2>Posts</h2>

{{#if posts}}

  <ul>
      {{#each posts}}
    <div id="timeline">
      <li id="eachPost">
        <div id="aviAndUser">
        <img src="{{this.author.profilePhotoUrl}}" class="userAvatar"><a href="/user/{{this.author._id}}" id="username">{{this.author.username}}</a>
        </div>
        <img src="{{this.imageUrl}}" id="content" alt="{{this.title}}">
        <p>{{this.title}}</p>
        <a href="/posts/{{this._id}}" id="username"> Show details</a>
      </li>
     </div>
      {{/each}}
  </ul>
 
{{else}}
  <p>No posts yet!</p>
{{/if}}