<h2>Posts</h2>

{{#if posts}}

  <ul>
      {{#each posts}}
    <div id="timeline">
      <div>
      <li>
        <img src="{{this.author.profilePhotoUrl}}" class="userAvatar"><a href="/user/{{this.author._id}}">{{this.author.username}}</a>
        <img src="{{this.imageUrl}}" id="content" alt="{{this.title}}">
        <p>{{this.title}}</p>
        <a href="/posts/{{this._id}}"> Show details</a>

      </li>
      </div>
     </div>
      {{/each}}
  </ul>
 
{{else}}
  <p>No posts yet!</p>
{{/if}}