<h2>Posts</h2>

{{#if posts}}

  <ul>
      {{#each posts}}
    <div id="timeline">
      <div id="content">
      <li class="userPosts">
        <img src="{{this.imageUrl}}" alt="{{this.title}}">
        <p>{{this.title}} by <a href="/user/{{this.author._id}}">{{this.author.username}}</a></p>
        <a href="/posts/{{this._id}}"> Show details</a>

      </li>
      </div>
     </div>
      {{/each}}
  </ul>
 
{{else}}
  <p>No posts yet!</p>
{{/if}}